pandas==2.1.4
openpyxl==3.1.2
pyinstaller==6.3.0
pyautogui==0.9.54
pygetwindow==0.0.9
pywin32==306 
mouse
keyboard==0.13.5
pyperclip>=1.8.2
backports.tarfile>=1.2.0
requests>=2.31.0
beautifulsoup4>=4.12.0
PySide6>=6.5.0
PySide6-Fluent-Widgets>=1.5.0
pyqtgraph>=0.13.3
